*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    min-width: 400px;
    max-width: 800px;
    padding: 10px;
    
}
.logo{
    color: #5f9341;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}
.input-fields{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
}
.input-fields :nth-child(3){
    flex-grow: 2;
}
input{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 0.5em;
}
.buttons-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0.5em;
}

.buttons-holder :nth-child(1), .buttons-holder :nth-child(2), .buttons-holder :nth-child(3){
    flex-grow: 1;
    margin-bottom: 0.5em;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#delete-btn {
    background: white;
    color: #5f9341;
    margin-bottom: 0.5em;
}
.leads-container{
    width: 800px ;
}
.leads-container{
    margin-top: 2em;
    border: 1px solid #5f9341;
    overflow-y: hidden;
    overflow-x: hidden;
}
table{
    border-spacing: 0px;
}
thead{
    text-align: left;
    background-color: #5f9341;
    color: white;
}
th{
    padding: 10px 0 10px 10px;
}

p{
    margin: 0;
    padding-left: 10px;
}
#ul-el-company{
    border-left: 1px solid #5f9341;
}
#ul-el-position{
    width: 40px;
    border-right: 1px solid #5f9341;
}
a {
    border-left: 1px solid #5f9341;
    padding-left: 10px;
    max-height: 20px;
    color: black;
    text-decoration: none;
    display: block;
}



