*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    min-width: 400px;
    max-width: 800px;
    padding: 10px;
    
}
.logo{
    color: #5f9341;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}
.input-fields{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
}
.input-fields :nth-child(3){
    flex-grow: 2;
}
input{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 0.5em;
}
.buttons-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0.5em;
}

.buttons-holder :nth-child(1), .buttons-holder :nth-child(2), .buttons-holder :nth-child(3){
    flex-grow: 1;
    margin-bottom: 0.5em;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#delete-btn {
    background: white;
    color: #5f9341;
    margin-bottom: 0.5em;
}
.leads-container{
    margin-top: 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    word-wrap: break-word;
}

th {
    background-color: #5f9341;
    padding: 10px;
    color: white;
    text-align: left;
    outline: white;

}

td{
    padding: 10px 10px 10px 4px;
    border: 1px solid white;
}
tr:nth-child(even) {
    background-color:#e0ffce
}
tr:nth-child(odd) {
    background-color:white
}
    


a {
    color: #5f9341;
    display: block;
}


